---
---

@font-face {
	font-family: "Slanted";
	src: url("../assets/fonts/Arial Slanted.woff2") format("woff2");
}

// Variables de style
$background: #ffd3cf;
$secondary-color: #464646;
$font-size: 1.25rem;
$font-family: Helvetica, sans-serif;
$alt-font-family: monospace;
$font-color: rgb(165, 5, 183);
$line-height: 1.25rem;

::selection{
	color: lightgrey;
	background-color: lightgrey;
}

html{
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

body {
	background-color: $background;
	padding: 0.0rem;
	word-spacing:-0.1rem;
	color: $font-color;
	font-family: $font-family;
	// font-size: 1.169rem;
	font-size: $font-size;
	line-height:$line-height;
}


p{
	margin: 0;
	padding: 0;
	text-indent: 2em;
	font-family: $font-family;
	margin-bottom: 2vh;
	// filter: drop-shadow(0 0 0.25rem white);
}

.droite p {
	text-indent: 0;
	margin-bottom: 0vh;
}

a{
	text-decoration: none;
}

a:hover {
	opacity: 1;
	font-style: italic;
}

a:active {
	opacity: 1;
	color: #000;
	font-style: italic;
}

a#fete{
	position: fixed;
	mix-blend-mode: difference;
	color: white;
}

img#papillon{
	pointer-events: none;
	position: fixed;
	width: 20%;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
}

sub {
	top: 0.3em;
}

sup {
	top: -0.4em;
}

s {
	text-decoration: line-through;
}

img {
	border: 0;
	padding:  0 0  0.5rem 0;
}

h1 {
	padding: 0;
	margin: 0;
	line-height: 1.1;
	color: rgb(0, 0, 0);
}

h1 a {
	color:rgb(126, 100, 131);
}
h1 a:hover {
	color: rgb(16, 46, 255);
}

small a {
	color: #fa5c34;
	border-bottom-width: 0rem;
}

img{
	width: 100%;
	height: auto;
}


.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.9rem;
	grid-auto-rows: minmax(100px, auto);
}

.gauche{
	grid-column: 1 /5;
	grid-row: 1;
	padding: 0.5rem;

}

.gauche#bienvenue{
	text-align: center;
	position: fixed;
	width: 28%;
	display: inline-text;
	padding: 0.5rem 2rem 0 2rem;
}

.milieu{
	grid-column: 5 / 10;
	grid-row: 1;
	padding: 0.5rem;
}

.milieu#contact{
	mix-blend-mode: difference;
	transform: skew(-15deg) rotate(-15deg);
	font-family: "Slanted";
	grid-column: 5 / 8;
	grid-row: 1;
	padding: 0.5rem;
	text-align: center;
}

.droite{
	grid-column: 8 / 13;
	grid-row: 1;
	padding: 0.5rem;
	height: 3vh;
}

.droite#liste{
	grid-column: 8 / 13;
}


// ------------------------- Page à Propos -------------------------

.imagefond{
	position: absolute;
	left:50%; 
	top:50%;
	height: 45vh;
	width: auto;
	transform: translate(-50%, -50%);
	-webkit-filter: blur(0.8rem); /* Safari 6.0 - 9.0 */
	filter: blur(0.8rem);
	z-index: -1000;
}

// ------------------------- Descriptions --------------------------

.description {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 0.5rem;
	grid-auto-rows: minmax(auto, auto);
	padding-bottom: 0.5rem;
}

.date{
	font-family: serif;
	grid-column: 1 / 3;
	text-indent: 20%;

}
.texte{
	grid-column: 3 / 10;
	text-indent: 5%;
	color: black;
}

// --------------------- Devant les textes ------------------------


.alphabet{
	top: 0.5rem;
	left: 0.5rem;
	position: fixed;
	width: 33%;
	z-index: -10;
	opacity: 0;
}

#ia, 
#ib,
#ic,
#id,
#ie,
#if{
	z-index: -10;
	position: absolute;
	opacity: 0;
}

#a, 
#b,
#c,
#d,
#e,
#f{
	cursor: pointer;
}