---
---

// Some Style Variables
$primary-color: #36465f;
$secondary-color: #464646;
$error: #de3535;
$success: #d5f5d7;

$max-width: 960px;

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

$font-size: 1.5rem;
$font-family: Helvetica, sans-serif;
$alt-font-family: monospace;
$font-color: rgb(165, 5, 183);
$line-height: 1.5rem;



    body {
    	padding: 0.0rem;
    	word-spacing:-0.1em;
    	background-color: #fff;
    	color: $font-color;
    	font-family: $font-family;
    	// font-size: 1.169rem;
    	font-size: $font-size;
    	line-height:$line-height;
    }


    p{
    	margin: 0;
    	padding: 0;
    	text-indent: 2rem;
    	font-family: $font-family; 
    }

a{
	text-decoration: none;
}
    a:hover {
    	opacity: 1;
    	font-style: italic;
    }
    a:active {
    	opacity: 1;
    	color: #000;
    	font-style: italic;
    }

    i,
    em {
    	font-style: italic;
    }

    b,
    strong {
    	font-weight: bold;
    }

    sub,
    sup {
    	position: relative;
    	vertical-align: baseline;
    }

    sub {
    	top: 0.3em;
    }

    sup {
    	top: -0.4em;
    }

    s {
    	text-decoration: line-through;
    }

    img {
    	border: 0;
    	padding: 0;
    }

    h1 {
    	font-family: "Helvetica", Helvetica, sans-serif, "Helvetica Neue Regular", Icons /*!System*/;
    	font-style: normal;
    	font-weight: 400;
    	padding: 0;
    	margin: 0;
    	font-size: 1.5rem;
    	line-height: 1.1;
    	color: rgb(0, 0, 0);
    }

    h1 a {
    	color:rgb(126, 100, 131);
    }
    	h1 a:hover {
    		color: rgb(16, 46, 255);
    	}

    	small a {
    		color: #fa5c34;
    		border-bottom-width: 0em;
    	}

    	img{
    		width: 100%;
    	}


#bienvenue{
    width: 94vw;
}

#liste{
    position: inherit;
}


.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1.9rem;
	grid-auto-rows: minmax(100px, auto);
}
.gauche{
grid-column: 1 / 1;
  grid-row: 1;
  padding: 0.5rem;

}
.milieu{
 grid-column: 1 / 1;
  grid-row: 2;
  padding: 0.5rem;
  text-align: center;

}
.droite{
 grid-column: 1 / 1;
  grid-row: 3;
  padding: 0.5rem;

}

/**
 * Content
 */
 .mobile #choix img {
 	max-width: 20%;
 	height: auto !important;

 }


 .pointer {
 	left: -500;
 	top: -200;
 	display:none;
 	position: absolute;
 	pointer-events: none;
 }

 .pointer img {

 	width: 180px;
 	height: auto !important;
 }

 #gauche1:hover .pointer{

 	display:block;
 }

 #gauche2:hover .pointer{
 	cursor: none;
 	display:block;
 }


 #droite1:hover .pointer{

 	display:block;
 }


 #droite2:hover .pointer{

 	display:block;
 }



 #texte-fixed {
 	position: fixed;
 	right: 0px;
 }

 .mobile #texte-fixed {
 	position: initial; 

}


 	a#gauche1, a#droite1, a#gauche2, a#droite2 {
 		display: block;
 	}


 	.texte {

 		background-color: #ff5e10;
 	}

    #droite {
    }


    #gauche1 {


    }

    #droite1 {

    }

    #gauche2 {

    }

    #droite2 {


    }

