---
layout: default
---

<div class="wrapper">
	<div class="gauche" id="propos">
		{% for post in site.tags.bio %}
		{{ post.content }}
		{% endfor %}
		
	</div>

	<div class="milieu" id="contact">
		contact :<br>
		<a href="mailto:{{site.mail}}">{{site.mail}}</a>
		<br>
		<br>
		social :
		<br>
		<a href="{{site.instagram}}" target="_blank">instagram</a><sup><a href="{{site.instagram}}" target="_blank">➶</a></sup>
		<br>
		<a href="{{site.vimeo}}" target="_blank">vimeo</a><sup><a href="{{site.vimeo}}" target="_blank">➶</a></sup>
		<br>
		<br>
		<a id="a">a</a> 
		<a id="b">b</a> 
		<a id="c">c</a> 
		<a id="d">d</a> 
		<a id="e">e</a> 
		<a id="f">f</a>
		&nbsp;<br>

	</div>

	<div class="droite" id="liste">
		{% for post in site.tags.capaupire %}
		{{ post.content }}
		{% endfor %}
		<br>
		{% for post in site.tags.exposalons %}
		{{ post.content }}
		{% endfor %}
		<br>
		<img id="clown" src="assets/var-img/foottit&chocolat.png" alt="paul bouigue bat des ailes"> 

		{% for post in site.tags.ateliers %}
		{{ post.content }}
		{% endfor %}
		

	</div>
</div>

<div class="alphabet">
	<img id="ia" src="/assets/promenade.jpg">
	<img id="ib" src="/assets/lacets.jpg">
	<img id="ic" src="/assets/chapelle.jpg">
	<img id="id" src="/assets/fin.jpg">
	<img id="ie" src="/assets/polka.jpg">
	<img id="if" src="/assets/ragondin.jpg">
</div>
