<script>
	RandomColor()
</script>
<!-- <script>
	const scroller = scrollama();

// setup the instance, pass callback functions
scroller
  .setup({
    step: ".swiper-container",
	// debug: true,
	offset: 0.3,
  })
  .onStepEnter((response) => {
    console.log(response.element.id)
	color = "#" + response.element.id;
	$(document.body).css({'background-color': color})
	$("#bienvenue.gauche").css({'mix-blend-mode': 'difference'})
	$(".date").css({'mix-blend-mode': 'difference'})
	if(color == '#blank'){
		$(document.body).css("background-color", "");
		$("#bienvenue.gauche").css({'mix-blend-mode': 'normal'})
		$(".date").css({'mix-blend-mode': 'normal'})
	}
	// if(color == '#black'){
	// 	$(document.body).css("background-color", "black");
	// 	$(".texte").css({'mix-blend-mode': 'difference'})	
	// }
  })
  .onStepExit((response) => {
    $(document.body).css("background-color", "");
  });

// setup resize event
window.addEventListener("resize", scroller.resize);
</script> -->
</html>
