<!-- <!DOCTYPE html>
[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

{% include head.html %}
	
	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
				
		{{ content }}
		  <div id="custom-cursor"></div>
    	  <div id="custom-cursor-hover"></div>
	</body>
			<script>
					RandomColor()
			</script>
			
			<!--<script type="text/javascript">
				
		let lastX, lastY, lastScrolled = 0;;
		$(document).on('mousemove', function(e) {
		  lastX = e.pageX - 30;
		  lastY = e.pageY - 25;
		  $('#custom-cursor').css({
		    left: e.pageX - 30,
		    top: e.pageY - 25,
		    pointerEvents: 'none'

		  });
		  $('#custom-cursor-hover').css({
		    left: e.pageX - 30,
		    top: e.pageY - 25,
		    pointerEvents: 'none'
		  });
		});


		$(window).scroll(function(event) {
		  if (lastScrolled != $(window)
		    .scrollTop()) {
		    lastY -= lastScrolled;
		    lastScrolled = $(window)
		      .scrollTop();
		    lastY += lastScrolled;
		  }
		  $('#custom-cursor').css({
		    left: lastX,
		    top: lastY,
		    pointerEvents: 'none'
		  });
       $('#custom-cursor-hover').css({
		    left: lastX,
		    top: lastY,
		    pointerEvents: 'none'
		  });
		});

		$(document).on('mousemove', function() {
		 if ($('.liencolore:hover').length > 0) {

		  $('#custom-cursor').css({
		    opacity:0});

		    $('#custom-cursor-hover').css({
		    opacity:1});
		}
      else{ 
		  $('#custom-cursor-hover').css({
		    opacity:0}) ;
		  
		   $('#custom-cursor').css({
		    opacity:1});
		}
		});

		</script> -->
		</html>

