<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<div class="wrapper">
		<div class="milieu" id="images">
			<img id="papillon" src="assets/papillon livre.png" alt="paul bouigue bat des ailes">
			{{page.year}}
			{{page.title}}
			<a rel="noopener" href="{{page.link}}" target="_blank">
				<img loading="lazy" src="{{page.image}}" title="{{page.title}}" alt="{{page.title}}">
			</a>



<!-- 			{% for post in site.categories.accueil %}
			{% if post.link %} 
			<a rel="noopener" href="{{post.link}}" target="_blank">
				<img loading="lazy" src="{{post.image}}" title="{{post.title}}" alt="{{post.title}}">
			</a>
			{% else %}
			<img loading="lazy" src="{{post.image}}" title="{{post.title}}" alt="{{post.title}}">
			{% endif %}
			<div class= "description">
				<div class="date">{{post.year}}</div>
				<div class="texte">⸺ {{post.excerpt}}</div>
			</div>
			{% endfor %}
		</div> -->
		<div class="droite">
			<a href="a-propos" id="fete">cap au pire :</a>
		</div>
	</body>
{% include footer.html %}

